<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winsafe.dao.DcQrCodeTimeConsumingMapper" >
	<select id="getAppliedFileInfo" resultType="map" parameterType="java.util.Map">
		select to_char(fcal.createtime, 'YYYY-MM-DD HH24:MI:SS') createtime, fcal.uidcount as applycount, fcal.filename
		from factory_code_apply_log fcal, (select fwmcode from primary_code where carton_code=#{qrCode, jdbcType=VARCHAR}) f 
		where fcal.filename=f.fwmcode
	</select>
	
	<select id="getUploadProduceReportInfo" resultType="map" parameterType="java.util.Map">
		select to_char(min(prodate), 'YYYY-MM-DD HH24:MI:SS') firstprodate, to_char(max(prodate), 'YYYY-MM-DD HH24:MI:SS') lastprodate, count(*) uploadcount
		from upload_produce_report upr, (select carton_code from primary_code where fwmcode=#{fileName, jdbcType=VARCHAR}) cc
		where upr.boxcode=cc.carton_code
	</select>
	
	<select id="getOutInfo" resultType="map" parameterType="java.util.Map">
		select count(*) outcount, to_char(min(makedate), 'YYYY-MM-DD HH24:MI:SS') firstoutdate, to_char(max(makedate), 'YYYY-MM-DD HH24:MI:SS') lastoutdate
		from take_ticket_idcode tti, (select carton_code from primary_code where fwmcode=#{fileName, jdbcType=VARCHAR}) cc
		where tti.idcode=cc.carton_code
	</select>
	
	<select id="getQrCodeUsageRate" resultType="map" parameterType="java.util.Map">
		<choose>
			<when test="getFileList">
				select uidcount as applycount, to_char(createtime, 'yyyy-MM-dd') as applydate, filename, 0 as uploadcount, 0 as outcount
				from factory_code_apply_log fcal
				<where>
					fcal.status=1
					<if test="startDate != null and startDate !=''"> and createtime &gt;= to_date(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd hh24:mi:ss')</if>
					<if test="endDate != null and endDate !=''"> and createtime &lt;= to_date(#{endDate, jdbcType=VARCHAR}, 'yyyy-MM-dd hh24:mi:ss')</if>
				</where>
				order by createtime
			</when>
			<when test="getUploadInfo">
				select fwmcode as filename, count(carton_code) as uploadcount
				from upload_produce_report upr, 
				(select fwmcode, carton_code from primary_code where fwmcode in 
					<foreach collection="fileList" item="item" index="index"  open="(" close=")" separator=",">  
            			#{item, jdbcType=VARCHAR}
        			</foreach>
        		) cc
        		where upr.boxcode=cc.carton_code
        		group by fwmcode
			</when>
			<when test="getOutInfo">
				select fwmcode as filename, count(carton_code) as outcount
				from take_ticket_idcode tti, 
				(select fwmcode, carton_code from primary_code where fwmcode in 
					<foreach collection="fileList" item="item" index="index"  open="(" close=")" separator=",">  
            			#{item, jdbcType=VARCHAR}
        			</foreach>
        		) cc
        		where tti.idcode=cc.carton_code
        		group by fwmcode
			</when>
		</choose>
	</select>
</mapper>