<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winsafe.dao.DcRealtimeMapper" >
	<select id="getDcRealtimeData" resultType="map" parameterType="java.util.Map">
		select tmp.*, case when (tmp.sumsartonscanning - tmp.scanrecargonum - tmp.scanshortnum - nvl(tmp.signScanNum,0)) > 0 then
				floor (round ((tmp.sumidcode / (tmp.sumsartonscanning - tmp.scanrecargonum - tmp.scanshortnum - nvl(tmp.signScanNum,0))) * 100,2)) 
				else case when  tmp.sumidcode + NVL(tmp.sumsartonscanning,0) = tmp.sumidcode  then 100 else 0 end  end percents 
		from 
				(select temp.*, (select sum (ttd.quantity) from take_ticket_detail ttd where ttd.ttid = temp. id) as sumquantity,
				(select sum (ttd.quantity) from take_ticket_detail ttd where ttd.cartonscanning = 1 and ttd.ttid = temp. id and temp.receiveno = ttd.receiveno) as sumsartonscanning,
				(select sum (tti.quantity) from take_ticket_idcode tti where tti.ttid = temp. id and isidcode = 1 and temp.receiveno = tti.receiveno) as sumidcode,
				(select sum (ttd.recargonum) from take_ticket_detail ttd where ttd.ttid = temp. id and ttd.cartonscanning = 1 and ttd.receiveno = temp.receiveno) as scanrecargonum, 
				(select sum (ttd.shortnum) from take_ticket_detail ttd where ttd.ttid = temp. id and ttd.cartonscanning = 1 and ttd.receiveno = temp.receiveno) as scanshortnum,
				(select NVL(SUM (ue.unrecognizednum),0) from unrecognized_report ue where ue.ttid = temp. id and ue.receiveno = temp.receiveno) as signScanNum from  
				( select tt. id,tt.nccode,tt.oid,tt.oname,tt.bus_no,tt.scanuser,tt.startScanningTime,tt.endScanningTime,
				ttd.receiveno,ttd.receivename,ttd.deliveryno,sum(ttd.recargonum) as recargonum,sum (ttd.shortnum) as shortnum  from take_ticket tt,take_ticket_detail ttd 
				where tt. id = ttd.ttid and tt.warehouseid in ( select ruw.warehouse_id from rule_user_wh ruw where ruw.user_id=1) 
				group by tt. id,tt.nccode,tt.oid,tt.oname, tt.bus_no,tt.scanuser,tt.startScanningTime,tt.endScanningTime,ttd.receiveno,ttd.receivename,ttd.deliveryno ) temp )  tmp 
	</select>
</mapper>