<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winsafe.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.winsafe.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="creationTime" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="modificationTime" property="modificationTime" jdbcType="TIMESTAMP" />
    <result column="loginName" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="lastLoginTime" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="loginTimes" property="loginTimes" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="deletable" property="deletable" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, creator, creationTime, modifier, modificationTime, loginName, password, birthday,
    gender, lastLoginTime, loginTimes, status, deletable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.winsafe.model.User" >
    insert into user (id, creator, creationTime,
      modifier, modificationTime, loginName,
      password, birthday, gender,
      lastLoginTime, loginTimes, status, deletable
      )
    values (#{id,jdbcType=INTEGER}, #{creator,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP},
      #{modifier,jdbcType=INTEGER}, #{modificationTime,jdbcType=TIMESTAMP}, #{loginName,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER},
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{loginTimes,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{deletable,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.winsafe.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationTime != null" >
        creationTime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modificationTime != null" >
        modificationTime,
      </if>
      <if test="loginName != null" >
        loginName,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="lastLoginTime != null" >
        lastLoginTime,
      </if>
      <if test="loginTimes != null" >
        loginTimes,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="deletable != null" >
        deletable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modificationTime != null" >
        #{modificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTimes != null" >
        #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deletable != null" >
        #{deletable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.winsafe.model.User" >
    update user
    <set >
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        creationTime = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modificationTime != null" >
        modificationTime = #{modificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginName != null" >
        loginName = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        lastLoginTime = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTimes != null" >
        loginTimes = #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.winsafe.model.User" >
    update user
    set creator = #{creator,jdbcType=INTEGER},
      creationTime = #{creationTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=INTEGER},
      modificationTime = #{modificationTime,jdbcType=TIMESTAMP},
      loginName = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      lastLoginTime = #{lastLoginTime,jdbcType=TIMESTAMP},
      loginTimes = #{loginTimes,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectUserList" parameterType="User" resultType="User">
	select * from user
	<where>
		<if test="id != null"> and id=#{id, jdbcType=INTEGER}</if>
		<if test="loginName != null and loginName !=''"> and loginName=#{loginName, jdbcType=VARCHAR}</if>
		<if test="password != null and password !=''"> and password=#{password, jdbcType=VARCHAR}</if>
		<if test="status != null"> and status=#{status, jdbcType=VARCHAR}</if>
		<if test="searchVal != null and searchVal !=''"> and (id like '%${searchVal}%' or loginName like '%${searchVal}%' )</if>
	</where>
  </select>
  
  <select id="selectByLoginName" parameterType="User" resultType="User">
	select * from user
	<where>
		<if test="loginName != null and loginName !=''"> and loginName=#{loginName, jdbcType=VARCHAR}</if>
	</where>
  </select>
</mapper>